/* 
  Button.scss 
  - Includes all default styles for the button component
*/
.btn {
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: #f4f4f4;
  border: none;
  color: #333333;
  font-size: 13px;
  font-weight: 600;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  vertical-align: top;
  padding-top: 0;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  padding-bottom: 0;
  display: inline-block;
  height: 1.8rem;
  min-width: 4rem;
  line-height: 1.2rem;
  outline: transparent;
  border: 0.05rem solid transparent;
  border-image: initial;
  border-radius: 0;
  user-select: none;
  white-space: nowrap;
}
.btn:focus, .btn:hover {
  background: #dbdbdb;
  text-decoration: none;
}
.btn[disabled], .btn:disabled, .btn.disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.btn.btn-primary {
  background-color: #f2c811;
  color: #212121;
}
.btn.btn-primary:focus, .btn.btn-primary:hover {
  background: #ddb60c;
}
.btn.btn-secondary {
  background-color: #0078d4;
  color: #f4f4f4;
}
.btn.btn-secondary:focus, .btn.btn-secondary:hover {
  background: #006abb;
}
.btn.btn-disabled {
  background-color: #f4f4f4;
  color: #a6a6a6;
}
.btn.btn-disabled:focus, .btn.btn-disabled:hover {
  cursor: default;
  background: #e7e7e7;
}
.btn.btn-action {
  background-color: #212121;
  color: #f4f4f4;
}
.btn.btn-action:focus, .btn.btn-action:hover {
  background: #2e2e2e;
}
.btn.btn-success {
  background: #bad80a;
  border-color: #adc909;
  color: #f4f4f4;
}
.btn.btn-success:focus {
  box-shadow: 0 0 0 0.1rem rgba(186, 216, 10, 0.2);
}
.btn.btn-success:focus, .btn.btn-success:hover {
  background: #b2ce0a;
  border-color: #a5c009;
  color: #f4f4f4;
}
.btn.btn-success:active, .btn.btn-success.active {
  background: #9db608;
  border-color: #90a708;
  color: #f4f4f4;
}
.btn.btn-success.loading::after {
  border-bottom-color: #f4f4f4;
  border-left-color: #f4f4f4;
}
.btn.btn-error {
  background: #e81123;
  border-color: #da1021;
  color: #f4f4f4;
}
.btn.btn-error:focus {
  box-shadow: 0 0 0 0.1rem rgba(232, 17, 35, 0.2);
}
.btn.btn-error:focus, .btn.btn-error:hover {
  background: #de1022;
  border-color: #d00f1f;
  color: #f4f4f4;
}
.btn.btn-error:active, .btn.btn-error.active {
  background: #c70f1e;
  border-color: #b80e1c;
  color: #f4f4f4;
}
.btn.btn-error.loading::after {
  border-bottom-color: #f4f4f4;
  border-left-color: #f4f4f4;
}
.btn.btn-link {
  background: transparent;
  border-color: transparent;
  color: #0078d4;
}
.btn.btn-link:focus, .btn.btn-link:hover, .btn.btn-link:active, .btn.btn-link.active {
  color: #005ba1;
}
.btn.btn-sm {
  font-size: 11px;
  height: 1.4rem;
  padding: 0.05rem 0.3rem;
}
.btn.btn-lg {
  font-size: 16px;
  height: 2rem;
  padding: 0.35rem 0.6rem;
}
.btn.btn-block {
  display: block;
  width: 100%;
}
.btn.btn-action {
  width: 1.8rem;
  padding-left: 0;
  padding-right: 0;
}
.btn.btn-action.btn-sm {
  width: 1.4rem;
}
.btn.btn-action.btn-lg {
  width: 2rem;
}
.btn .btn-group {
  display: inline-flex;
  flex-wrap: wrap;
}
.btn .btn-group .btn {
  flex: 1 0 auto;
}
.btn .btn-group .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn .btn-group .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  margin-left: -0.05rem;
}
.btn .btn-group .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -0.05rem;
}
.btn .btn-group .btn:focus, .btn .btn-group .btn:hover, .btn .btn-group .btn:active, .btn .btn-group .btn.active {
  z-index: 1;
}
.btn .btn-group.btn-group-block {
  display: flex;
}
.btn .btn-group.btn-group-block .btn {
  flex: 1 0 0;
}