/* 
  Drawer.scss
  - Includes all default styles for the Drawer component
*/
.off-canvas {
  display: flex;
  flex-flow: nowrap;
  height: 100%;
  position: static;
  width: 100%;
}
.off-canvas .off-canvas-toggle {
  display: block;
  position: absolute;
  top: 0.4rem;
  transition: none;
  z-index: 1;
  left: 0.4rem;
}
.off-canvas .off-canvas-sidebar {
  background: #ffffff;
  bottom: 0;
  min-width: 10rem;
  overflow-y: auto;
  z-index: 200;
  position: absolute;
  top: 37px;
  opacity: 1;
  z-index: 98;
  transition: 0.5s all;
  right: 0;
  left: 0;
  transform: translateX(-100%);
}
.off-canvas .off-canvas-sidebar.active {
  opacity: 1;
}
.off-canvas .off-canvas-content {
  flex: 1 1 auto;
  height: 100%;
  padding: 0.4rem 0.4rem 0.4rem 4rem;
}
.off-canvas .off-canvas-overlay {
  background: rgba(33, 33, 33, 0.1);
  border-color: transparent;
  border-radius: 0;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}
.off-canvas .off-canvas-sidebar:target, .off-canvas .off-canvas-sidebar.active {
  transform: translateX(0);
}
.off-canvas .off-canvas-sidebar:target ~ .off-canvas-overlay, .off-canvas .off-canvas-sidebar.active ~ .off-canvas-overlay {
  display: block;
}

@media (min-width: 960px) {
  .off-canvas.off-canvas-sidebar-show .off-canvas-toggle {
    display: none;
  }
  .off-canvas.off-canvas-sidebar-show .off-canvas-sidebar {
    flex: 0 0 auto;
    position: relative;
    transform: none;
  }
  .off-canvas.off-canvas-sidebar-show .off-canvas-overlay {
    display: none !important;
  }
}