/* 
  FormGroup.scss
  - Includes all default styles for the FormGroup component
*/
.form-group {
  font-size: 13px;
  position: relative;
}
.form-group:not(:last-child) {
  margin-bottom: 0.4rem;
}
.form-group .tooltip .icon {
  margin-right: 5px;
  background-color: #f4f4f4;
  border-radius: 100px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-group .tooltip .tooltip-body {
  position: absolute;
  z-index: 999;
  background-color: #ffffff;
  box-shadow: 0 3px 10px #f4f4f4;
  width: 150px;
  top: 24px;
  right: 4px;
  padding: 8px 12px;
}
.form-group .tooltip .tooltip-body.hidden {
  visibility: hidden;
}
.form-group .tooltip .tooltip-body.visible {
  visibility: visible;
}
.form-group .tooltip .tooltip-body p {
  font-size: 11px;
  line-height: 0.8rem;
  margin: 0;
  color: #212121;
}

.form-label {
  display: flex;
  color: #333333;
  line-height: 1.2rem;
  font-size: 13px;
  font-weight: 400;
  box-sizing: border-box;
  box-shadow: none;
  padding: 0;
  overflow-wrap: break-word;
  margin: 0;
  margin-top: 0.6rem;
  align-items: center;
  justify-content: space-between;
}
.has-success .form-label, .is-success + .form-label {
  color: #bad80a;
}
.has-error .form-label, .is-error + .form-label {
  color: #e81123;
}

.form-input-hint {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #989898;
  font-size: 12px;
  margin-top: 0.2rem;
  width: 100%;
}
.has-success .form-input-hint, .is-success + .form-input-hint {
  color: #bad80a;
}
.has-error .form-input-hint, .is-error + .form-input-hint {
  color: #e81123;
}

.form-group.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.4rem;
}
.form-group.horizontal .form-label {
  width: 50%;
  justify-content: flex-start;
  margin-top: 0;
}
.form-group.horizontal .form-label .tooltip {
  padding-left: 12px;
}
.form-group.horizontal .form-input-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.form-group.horizontal .form-checkbox, .form-group.horizontal .form-radio, .form-group.horizontal .form-switch {
  padding-right: 0;
  padding-left: 1rem;
}
.form-group.horizontal .form-switch {
  padding-left: 1.8rem;
}