.bf-ui-rowitemsrenderer-button {
  min-width: auto;
}

.bf-ui-rowitemsrenderer > * {
  align-self: flex-end !important;
  padding-right: 0.5em;
}

.bf-ui-rowitemsrenderer > .bf-ui-rowitemsrenderer-button {
  margin-bottom: 0.6rem !important;
}

.bf-cf-color-scale-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}

.bf-cf-color-scale-group .bf-ui-form-group.form-group.horizontal {
  padding-bottom: 6px;
  padding-right: 3px;
}

.bf-cf-color-scale-group button {
  margin-bottom: 12px !important;
}

.bf-item-form-renderer .form-group {
  width: auto;
  min-width: auto;
  padding-left: 0px;
  padding-right: 10px;
}

.bf-item-form-renderer .bf-cf-right-align {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.bf-item-form-renderer {
  max-width: 25rem;
}

.bf-item-form-renderer + .bf-cf-right-align {
  width: 300px !important;
}