/* 
  Panel.scss 
  - Includes all default styles for the Panel component
*/
.panel {
  width: 320px;
  box-shadow: 0 0 2px #DDD;
  background-color: #FFF;
  bottom: 0;
  position: absolute;
  top: 72px;
  left: 0;
  max-width: 100%;
}

.panel .panel-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.panel .panel-header {
  background-color: #FFF;
  padding: 16px 16px;
}

.panel .panel-header h2 {
  font-size: 0.55rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #998899;
  margin: 0;
}

.panel .panel-header .btn-close {
  font-size: 0.6rem;
  background: none;
  border: 0;
  padding: 0 4px;
}

.panel .panel-body {
  padding: 0px 16px;
  padding-bottom: 16px;
}

.panel > .react-resizable-handle {
  content: "....";
  width: 15px;
  bottom: 0;
  top: 0;
  display: block;
  overflow: hidden;
  line-height: 5px;
  padding: 3px 4px;
  cursor: move;
  vertical-align: middle;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #cccccc;
  text-shadow: 1px 0 1px black;
  position: absolute;
  right: 0px;
}

.panel > .react-resizable-handle:hover {
  cursor: col-resize;
}

.panel > .react-resizable-handle::after {
  content: ".. .. .. ..";
  right: 3px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
}