.bf-ui-people-picker-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  min-height: 40px;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
}
.bf-ui-people-picker-container .bf-ui-pill {
  display: inline-flex;
  margin: 5px;
  padding: 0 0.2rem;
  background: #F5F9FF;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}
.bf-ui-people-picker-container .bf-ui-pill .bf-ui-pill-content {
  display: flex;
  width: max-content;
  align-items: center;
  height: 1.5rem;
  padding: 0 0.5rem;
}
.bf-ui-people-picker-container .bf-ui-pill .bf-ui-pill-avatar {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
}
.bf-ui-people-picker-container .bf-ui-pill .bf-ui-pill-avatar span {
  position: absolute;
  font-size: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bf-ui-people-picker-container .bf-ui-pill .bf-ui-pill-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.bf-ui-people-picker-container .bf-ui-pill .bf-ui-pill-first,
.bf-ui-people-picker-container .bf-ui-pill .bf-ui-pill-last {
  width: 1.5rem;
  height: 1.5rem;
}
.bf-ui-people-picker-container .bf-ui-pill .bf-ui-pill-label {
  padding: 0 0.5rem 0 0.5rem;
}
.bf-ui-people-picker-container .bf-ui-pill .bf-ui-pill-image {
  background: #fff;
  left: 0.05rem;
}
.bf-ui-people-picker-container .bf-ui-pill .bf-ui-pill-image::before {
  content: attr(data-initial);
  position: absolute;
  font-size: 0.7rem;
  font-weight: 600;
  left: 0;
  display: flex;
  width: 1.5rem;
  justify-content: center;
}
.bf-ui-people-picker-container .bf-ui-pill .bf-ui-pill-close {
  right: 0.05rem;
  font-size: 12px;
}
.bf-ui-people-picker-container .bf-ui-pill .bf-ui-pill-close:hover {
  cursor: pointer;
  background: #d4e4fb;
  border-radius: 20px;
}
.bf-ui-people-picker-container .bf-ui-pill .bf-ui-pill-close::after {
  content: "X";
  color: #000000;
  font-family: sans-serif;
}
.bf-ui-people-picker-container .bf-ui-pill .invalid {
  color: red;
  text-decoration: wavy;
  text-decoration-color: red;
}
.bf-ui-people-picker-container .form-auto-complete {
  display: inline-flex;
  margin: 0;
  width: auto;
  min-width: 120px;
  flex: 1;
}
.bf-ui-people-picker-container .form-auto-complete:not([multiple]):not([size]) {
  background: none;
}
.bf-ui-people-picker-container .form-auto-complete .form-input {
  border: none;
  margin: 5px 0;
}
.bf-ui-people-picker-container .form-auto-complete .menu {
  min-width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.bf-ui-people-picker-container .form-auto-complete .menu .menu-item {
  display: flex;
  align-items: center;
}
.bf-ui-people-picker-container .form-auto-complete .menu .menu-item.menu-active {
  background: #ddd;
}
.bf-ui-people-picker-container .form-auto-complete .menu .menu-item .label-text {
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  text-align: left;
  border: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.bf-ui-people-picker-container .form-auto-complete .menu .menu-item .menu-image {
  background: #ddd;
  display: flex;
  width: 1.35rem;
  justify-content: center;
  border-radius: 1rem;
  height: 1.25rem;
  font-size: 0.65rem;
  margin-left: 0.25rem;
}
.bf-ui-people-picker-container .form-auto-complete .menu .menu-item .menu-image img {
  border-radius: 1rem;
}
.bf-ui-people-picker-container .form-auto-complete .menu .menu-item .menu-image img::before {
  content: attr(data-initial);
  position: relative;
}
.bf-ui-people-picker-container .form-auto-complete .menu .menu-loading {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #444444;
  width: 30px !important;
  height: 30px !important;
  margin: 10px;
  animation: spin 1s linear infinite;
  left: calc(50% - 25px) !important;
  position: relative;
}
.bf-ui-people-picker-container .form-auto-complete .menu .menu-loading * {
  display: none;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}