/* 
  Radio.scss 
  - Includes all default styles for the Radio component
*/
.form-radio {
  font-size: 0.6rem;
  display: block;
  line-height: 1.2rem;
  margin: 0.2rem 0;
  min-height: 1.2rem;
  padding: 0.1rem 0.4rem 0.1rem 1.2rem;
  position: relative;
}
.form-radio input {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.form-radio input:focus + .form-icon {
  border-color: #a6a6a6;
}
.form-radio input:checked + .form-icon {
  background: #f4f4f4;
  border-color: #0078d4;
  box-shadow: none;
}
.form-radio .form-icon {
  border: 0.05rem solid #adadad;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
}

.form-radio .form-icon {
  background: #f4f4f4;
  height: 0.8rem;
  left: 0;
  top: 0.3rem;
  width: 0.8rem;
}
.form-radio input:active + .form-icon {
  background: #f7f7f7;
}

.form-radio .form-icon {
  border-radius: 50%;
}
.form-radio input:checked + .form-icon::before {
  background: #0078d4;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
}

.has-error .form-radio .form-icon, .form-radio.is-error .form-icon {
  border-color: #e81123;
}
.has-error .form-radio input:checked + .form-icon, .form-radio.is-error input:checked + .form-icon {
  border-color: #e81123;
}
.has-error .form-radio input:checked + .form-icon::before, .form-radio.is-error input:checked + .form-icon::before {
  background: #e81123;
}
.has-error .form-radio input:focus + .form-icon, .form-radio.is-error input:focus + .form-icon {
  box-shadow: 0 0 0 0.1rem rgba(232, 17, 35, 0.2);
  border-color: #e81123;
}

.form-radio input:disabled + .form-icon, .form-radio input.disabled + .form-icon {
  background: #f7f7f7;
  cursor: not-allowed;
  opacity: 0.5;
}