.bf-ui-rangeslider-container {
  padding: 10px 5px;
}

.bf-ui-rangeslider {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 5px;
  background: #cccccc;
  border-radius: 5px;
  cursor: pointer;
}
.bf-ui-rangeslider::before, .bf-ui-rangeslider::after {
  position: absolute;
  top: -5px;
}
.bf-ui-rangeslider::before {
  content: attr(data-min-content);
  left: -30px;
  padding-right: 20px;
}
.bf-ui-rangeslider::after {
  content: attr(data-max-content);
  left: calc(100% + 10px);
}
.bf-ui-rangeslider .bf-ui-rangeslider-container:hover .min-drag {
  border-color: #0078d4;
}
.bf-ui-rangeslider .min {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 0;
  height: 5px;
  border-radius: 5px;
  background: #cccccc;
}
.bf-ui-rangeslider .min::before {
  opacity: attr(data-opacity);
  content: attr(data-content);
  display: block;
  position: absolute;
  top: 15px;
  right: -15px;
  width: 40px;
  padding: 3px;
  text-align: center;
  color: #000000;
}
.bf-ui-rangeslider .min .min-drag {
  position: absolute;
  right: 0;
  top: -5px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #ffffff;
  transition: all 0.3s;
  border: 2px solid #605e5c;
}
.bf-ui-rangeslider .min .min-drag:hover {
  box-shadow: 0 0 0 6px rgba(39, 70, 132, 0.2);
  border: 2px solid #0078d4;
}
.bf-ui-rangeslider .bf-ui-rangeslider-container:hover .max-drag {
  border-color: #0078d4;
}
.bf-ui-rangeslider .max {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 0;
  height: 5px;
  border-radius: 5px;
  background: #8c8c8c;
}
.bf-ui-rangeslider .max::before {
  opacity: attr(data-opacity);
  content: attr(data-content);
  display: block;
  position: absolute;
  top: 15px;
  right: -15px;
  width: 40px;
  padding: 3px;
  text-align: center;
  color: #000000;
}
.bf-ui-rangeslider .max .max-drag {
  position: absolute;
  right: 0;
  top: -5px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #ffffff;
  transition: all 0.3s;
  border: 2px solid #605e5c;
}
.bf-ui-rangeslider .max .max-drag:hover {
  box-shadow: 0 0 0 6px rgba(39, 70, 132, 0.2);
  border: 2px solid #0078d4;
}

.bf-ui-rangeslider-container:hover .bf-ui-rangeslider {
  background: #6aade0;
}
.bf-ui-rangeslider-container:hover .min {
  background: #6aade0;
}
.bf-ui-rangeslider-container:hover .max {
  background: #0078d4;
}
.bf-ui-rangeslider-container:hover .min-drag, .bf-ui-rangeslider-container:hover .max-drag {
  border: 2px solid #0078d4;
}
.bf-ui-rangeslider-container *:focus-within {
  outline: none;
}
.bf-ui-rangeslider-container *:focus-within .bf-ui-rangeslider {
  background: #6aade0;
}
.bf-ui-rangeslider-container *:focus-within .min {
  background: #6aade0;
}
.bf-ui-rangeslider-container *:focus-within .max {
  background: #0078d4;
}
.bf-ui-rangeslider-container *:focus-within .min-drag, .bf-ui-rangeslider-container *:focus-within .max-drag {
  border: 2px solid #0078d4;
}