/* 
  Radio.scss 
  - Includes all default styles for the Radio component
*/
/* var(--unit-4) */
.form-radio {
  font-size: var(--unit-3);
  display: block;
  line-height: var(--line-height);
  margin: var(--unit-1) 0;
  min-height: var(--unit-6);
  padding: 0.1rem 0.4rem 0.1rem 1.2rem;
  position: relative;
}

.form-radio input {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.form-radio input:focus+.form-icon {
  border-color: var(--gray-disabled-text);
}

.form-radio input:checked+.form-icon {
  background: var(--bg-color);
  border-color: var(--secondary-color);
  box-shadow: none;
}

.form-radio .form-icon {
  border: var(--border-width) solid var(--gray-disabled-text);
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
}

.form-radio .form-icon {
  background: var(--bg-color);
  height: var(--control-icon-size);
  left: 0;
  top: var(--unit-1);
  width: var(--control-icon-size);
}

.form-radio input:active+.form-icon {
  background: var(--bg-color);
}

.form-radio .form-icon {
  border-radius: 50%;
}

.form-radio input:checked+.form-icon::before {
  background: var(--secondary-color);
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
}

.has-error .form-radio .form-icon,
.form-radio.is-error .form-icon {
  border-color: var(--error-color);
}

.has-error .form-radio input:checked+.form-icon,
.form-radio.is-error input:checked+.form-icon {
  border-color: var(--error-color);
}

.has-error .form-radio input:checked+.form-icon::before,
.form-radio.is-error input:checked+.form-icon::before {
  background: var(--error-color);
}

.has-error .form-radio input:focus+.form-icon,
.form-radio.is-error input:focus+.form-icon {
  box-shadow: 0 0 0 0.1rem var(--saffron-red);
  border-color: var(--error-color);
}

.form-radio input:disabled+.form-icon,
.form-radio input.disabled+.form-icon {
  background: var(--bg-color);
  cursor: not-allowed;
  opacity: 0.5;
}