/* 
  Checkbox.scss 
  - Includes all default styles for the Checkbox component
*/

/* var(--font-size) */
.form-checkbox {
  font-size: var(--font-size);
  display: block;
  line-height: var(--line-height);
  margin: 0.2rem 0;
  min-height: 1.2rem;
  padding: 0.1rem 0.4rem 0.1rem 1.2rem;
  position: relative;
}

.form-checkbox input {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.form-checkbox input:focus+.form-icon {
  border-color: var(--gray-disabled-text);
}

.form-checkbox input:checked+.form-icon {
  background: var(--bg-color);
  border-color: var(--secondary-color);
  box-shadow: none;
}

.form-checkbox .form-icon {
  border: var(--border-width) solid var(--gray-disabled-text);
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
}

.form-checkbox .form-icon {
  background: var(--bg-color);
  height: var(--control-icon-size);
  left: 0;
  top: 0.3rem;
  width: var(--control-icon-size);
}

.form-checkbox input:active+.form-icon {
  background: var(--bg-color);
}

.form-checkbox .form-icon {
  border-color: var(--body-font-color);
  border-radius: none;
}

.form-checkbox input:checked+.form-icon {
  background-color: var(--secondary-color);
}

.form-checkbox input:checked+.form-icon::before {
  background-clip: padding-box;
  border: var(--border-width-lg) solid var(--bg-color);
  border-left-width: 0;
  border-top-width: 0;
  content: "";
  height: 9px;
  left: 50%;
  margin-left: -4px;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 6px;
}

.has-error .form-checkbox,
.form-checkbox.is-error {
  color: var(--error-color);
}

.has-error .form-checkbox .form-icon,
.form-checkbox.is-error .form-icon {
  border-color: var(--error-color);
}

.has-error .form-checkbox input:checked+.form-icon,
.form-checkbox.is-error input:checked+.form-icon {
  background: var(--error-color);
  border-color: var(--error-color);
}

.has-error .form-checkbox input:focus+.form-icon,
.form-checkbox.is-error input:focus+.form-icon {
  box-shadow: 0 0 0 0.1rem var(--saffron-red);
  border-color: var(--error-color);
}

.has-error .form-checkbox input:indeterminate+.form-icon,
.form-checkbox.is-error input:indeterminate+.form-icon {
  background: var(--error-color);
  border-color: var(--error-color);
}

.form-checkbox input:disabled+.form-icon,
.form-checkbox input.disabled+.form-icon {
  background: var(--bg-color);
  cursor: not-allowed;
  opacity: 0.5;
}

.form-checkbox input:checked:disabled+.form-icon,
.form-checkbox input:checked.disabled+.form-icon {
  border: 1px solid var(--gray-disabled-text);
}

.form-checkbox input:checked:disabled+.form-icon::before,
.form-checkbox input:checked.disabled+.form-icon::before {
  border-color: var(--gray-disabled-text);
}