:root {
  /* Add your CSS variables here */
  --background: #fff;
  --font-color: #494949;

  --harvey-black: #131111;
  --harvey-white: #e0e0e0;
  --harvey-red: #ff2323;
  --harvey-green: #005f20;
  --harvey-blue: #070bce;

  --heading-font-size: 40px;

  font-family: "Avenir Next", Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3c3c3c;
    --font-color: #fafafa;
  }
}

:root{
  --color:#333333;
  --shade:#a6a6a6;
  --border-red-color:#e81123;
  --box-shadow-color:rgba(232, 17, 35, 0.2);
  --background-color:white;
}