:root {
  /* Add your CSS variables here */
  --background: #fff;
  --font-color: #494949;

  --harvey-black: #131111;
  --harvey-white: #e0e0e0;
  --harvey-red: #ff2323;
  --harvey-green: #005f20;
  --harvey-blue: #070bce;

  --heading-font-size: 40px;

  font-family: "Avenir Next", Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3c3c3c;
    --font-color: #fafafa;
  }
}

:root {
  --gray-disabled-text: #a6a6a6;
  --body-font-color: #333333;
  --secondary-color: #0078d4;
  --success-color: #bad80a ;
  --border-red-color: #e81123;
  --box-shadow-color: rgba(232, 17, 35, 0.2);
  --background-color: white;
  --font-size: 13px;
  --control-icon-size:0.8rem;
  --control-size: 1.8rem;
  --line-height: 1.2rem;
  --border-width: 0.05rem;
  --bg-color:#ffffff;
  --bg-color-dark:#f7f7f7;
}